/* navbar csss' */
.navbar {
  background-color: #013a63 !important;
  font-family: "Kanit";
}

.navbar-brand {
  padding-left: 3%;
  color: #ffffff !important;

  /* main content */
}

html body {
  font-family: "Kanit";
  background-color: #bde0fe;
}

/* removing default upload option */
input[type="file"] {
  display: none;
}

/* upload image area */
.image-select {
  margin-top: 2%;
  margin-left: 3%;
}

/* making label to point */

label {
  cursor: pointer;
}

/* making grid for main  body */

.main-grid-con {
  margin: 1% 3% 0% 3%;
  display: grid;
  grid-template-columns: 0.8fr 0.3fr;
}

.gr {
}

.left-grid {
  border: 4px solid black;
  aspect-ratio: 16/9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;

  color: black;
  max-width: 1280px;
  max-height: 720px;
  padding: 1%;
}
.image-preview-container {
  width: 700px;
  height: auto;
  overflow: visible;
}

.def {
  width: 700px;
  height: auto;
}

.right-grid {
  position: relative;
}

.functionality {
  margin-left: 7%;
  padding-top: 2%;
  padding-left: 9%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: left;
  font-weight: bold;
}

input[type="checkbox"]:not(:first-child) {
  margin-left: 20px;
}

input[type="checkbox"] {
  margin-bottom: 20px;
  cursor: pointer;
  background-color: #dcf763;
}

/* MEDIA QUERIES */

@media screen and (max-width: 898px) {
  input[type="checkbox"]:not(:first-child) {
    margin-left: 1%;
  }

  input[type="checkbox"] {
    margin-bottom: 1%;
    cursor: pointer;
    background-color: #dcf763;
  }
  .functionality {
    padding-right: 3%;
  }
}

:root {
  --brd: 1px solid transparent;
}

.sub-cat1 {
  border: var(--brd);
  width: 400px;
  height: 400px;
  overflow: visible;
}
.sub-cat2 {
  border: var(--brd);
  width: 800px;
  height: 500px;
  overflow: visible;
}

.sub-cat3 {
  border: var(--brd);
  width: 1200px;
  height: 1000px;
  overflow: visible;
}

.sub-cat4 {
  border: var(--brd);
  width: 200px;
  height: 600px;
  overflow: visible;
}
